.the-legend {
    border-style: none;
    border-width: 0;
    /* border-radius:50px; */
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.txt
{
    color:red;
}